<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Missionary Work</title>
    <link href="~/Content/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/Site.css" type="text/css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body style="background-color: antiquewhite;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="transition-duration: 0.4s;">
        <a class="navbar-brand" href=@Url.Action("Index", "Home")>Missionary Portal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href=@Url.Action("Mission", "Home")>Mission <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=@Url.Action("About", "Home")>About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=@Url.Action("Contact", "Home")>Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=@Url.Action("Login", "Home")>Login</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
